# {{ ansible_managed }}
# Woodpecker Server environment

WOODPECKER_OPEN={{ woodpecker_open | lower }}
WOODPECKER_ADMIN={{ woodpecker_admins }}
WOODPECKER_HOST=https://{{ woodpecker_domain }}
WOODPECKER_LOG_LEVEL={{ woodpecker_log_level }}

# Database
WOODPECKER_DATABASE_DRIVER={{ woodpecker_db_driver }}
WOODPECKER_DATABASE_DATASOURCE=postgres://{{ woodpecker_postgresql_user }}:{{ woodpecker_pg_password }}@{{ woodpecker_postgresql_container_name }}:5432/{{ woodpecker_postgresql_db }}?sslmode=disable

# Gitea / Forgejo integration
WOODPECKER_GITEA=true
WOODPECKER_GITEA_URL=https://{{ woodpecker_forgejo_domain }}
WOODPECKER_GITEA_CLIENT={{ woodpecker_gitea_client }}
WOODPECKER_GITEA_SECRET={{ woodpecker_gitea_secret }}
WOODPECKER_GITEA_SKIP_VERIFY=true

# Agent secret
WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
