# {{ ansible_managed }}
# Woodpecker Agent environment

WOODPECKER_SERVER={{ woodpecker_server_container_name }}:9000
WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
WOODPECKER_BACKEND=docker
WOODPECKER_MAX_WORKFLOWS={{ woodpecker_max_workflows }}
WOODPECKER_LOG_LEVEL={{ woodpecker_log_level }}
