# {{ ansible_managed }}
# Woodpecker Agent environment

WOODPECKER_SERVER={{ woodpecker_server_container_name }}:9000
WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
WOODPECKER_BACKEND=docker
WOODPECKER_BACKEND_DOCKER_NETWORK={{ container_runtime_network_name | default('antarctica') }}
WOODPECKER_MAX_WORKFLOWS={{ woodpecker_max_workflows }}
WOODPECKER_LOG_LEVEL={{ woodpecker_log_level }}
