# {{ ansible_managed }}

[Unit]
Description=PostgreSQL 16 (Podman Quadlet)
After=network-online.target
Wants=network-online.target

[Container]
ContainerName={{ postgresql_container_name }}
Image={{ postgresql_image }}
AutoUpdate=registry
PublishPort=127.0.0.1:{{ postgresql_port }}:5432
Volume={{ postgresql_data_dir }}:/var/lib/postgresql/data:Z
Network={{ container_runtime_network_name | default('antarctica') }}
Environment=POSTGRES_DB={{ postgresql_db }}
Environment=POSTGRES_USER={{ postgresql_user }}
Environment=POSTGRES_PASSWORD={{ postgresql_password }}

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
