# {{ ansible_managed }}
# Forgejo environment variables

FORGEJO__DEFAULT__APP_NAME=Forgejo
FORGEJO__DEFAULT__RUN_MODE=prod

FORGEJO__server__DOMAIN={{ forgejo_domain }}
FORGEJO__server__ROOT_URL=https://{{ forgejo_domain }}/
FORGEJO__server__HTTP_PORT=3000
FORGEJO__server__SSH_DOMAIN={{ forgejo_domain }}
FORGEJO__server__SSH_PORT={{ forgejo_ssh_port }}
FORGEJO__server__SSH_LISTEN_PORT={{ forgejo_ssh_port }}
FORGEJO__server__START_SSH_SERVER=true
FORGEJO__server__LFS_START_SERVER={{ forgejo_lfs_enabled | lower }}

FORGEJO__database__DB_TYPE=postgres
FORGEJO__database__HOST={{ forgejo_db_container_name }}:5432
FORGEJO__database__NAME={{ forgejo_db_name }}
FORGEJO__database__USER={{ forgejo_db_user }}
FORGEJO__database__PASSWD={{ forgejo_db_password }}
FORGEJO__database__SSL_MODE=disable

FORGEJO__security__INSTALL_LOCK=true
FORGEJO__security__SECRET_KEY={{ forgejo_secret_key }}
FORGEJO__security__INTERNAL_TOKEN={{ forgejo_internal_token }}

FORGEJO__oauth2__JWT_SECRET={{ forgejo_oauth2_jwt_secret }}

FORGEJO__lfs__JWT_SECRET={{ forgejo_lfs_jwt_secret }}

FORGEJO__actions__ENABLED=true
FORGEJO__actions__DEFAULT_ACTIONS_URL={{ forgejo_default_actions_url }}

FORGEJO__webhook__ALLOWED_HOST_LIST={{ forgejo_webhook_allowed_hosts }}
FORGEJO__webhook__SKIP_TLS_VERIFY=true

# Built-in container/package registry
FORGEJO__packages__ENABLED=true
FORGEJO__packages__CHUNKED_UPLOAD_PATH=/data/gitea/tmp/package-upload
FORGEJO__packages__LIMIT_TOTAL_OWNER_SIZE=5368709120
FORGEJO__packages__LIMIT_SIZE_CONTAINER=2147483648
FORGEJO__packages__LIMIT_SIZE_GENERIC=536870912
FORGEJO__packages__LIMIT_SIZE_MAVEN=536870912
FORGEJO__packages__LIMIT_SIZE_NPM=536870912
FORGEJO__packages__LIMIT_SIZE_PYPI=536870912
FORGEJO__packages__LIMIT_SIZE_NUGET=536870912
