---
- name: Prepare
  hosts: all
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install base prerequisites
      ansible.builtin.apt:
        name:
          - python3
          - sudo
          - systemd
          - gpg
        state: present
