---
- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart nftables
  ansible.builtin.systemd:
    name: nftables
    state: restarted

- name: Restart zramswap
  ansible.builtin.systemd:
    name: zramswap
    state: restarted

- name: Restart timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
