# {{ ansible_managed }}

[Unit]
Description=SSHX Redis (Podman Quadlet)
After=network-online.target
Wants=network-online.target

[Container]
ContainerName={{ sshx_redis_container_name }}
Image={{ sshx_redis_image }}
AutoUpdate=registry
PublishPort=0.0.0.0:{{ sshx_redis_port }}:6379
Volume={{ sshx_data_dir }}/redis:/data:Z
Network={{ container_runtime_network_name | default('antarctica') }}

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target default.target
